$Karla: 'Karla', sans-serif;
$DM-Serif: 'DM Serif Display', serif;

// Primary
$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);
// Neutral
$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray: hsl(0, 0%, 98%);

$desktop: 'min-width: 1000px';
$tablet: 'min-width: 740px';